@import '../variables';
@import '../mixins';


.album__title{
  @include font-param(14px, lighter, 30px);
  text-align: center;
}

.album__name {
  @include font-param(14px, bold, 24px);
}

.album__time {
  @include font-param(12px, lighter, 24px);
  text-transform: uppercase;
}

.album__descripton {
  @include font-param(14px, normal, 24px);
}

.album__like {
  @include font-param(12px, normal, 24px);
  text-transform: uppercase;
  color: $color-pink;
}
