.album {
  background-color: $color-white;
}

.album__title {
  @include font-param(14px, 100, 30px);
  text-align: center;
  margin: 0 0 55px;
}

.album__name {
  @include font-param(14px, bold, 24px);
}

.album__time {
  @include font-param(12px, 100, 24px);
  text-transform: uppercase;
}

.album__author {
  margin: 0;
}

.album__descripton {
  @include font-param(14px, normal, 24px);
  margin: 0 0 10px;
  flex-grow: 1;
}

.album__like {
  @include font-param(12px, normal, 24px);
  text-transform: uppercase;
  color: $color-pink;
  margin: 0;
}

.album__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.album__list :last-child {
  margin-bottom: 0;
}

.album__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.album__img-wrapper {
  height: 180px;
}

.album__img-wrapper--wide {
  height: 140px;
}

.album__item-footer {
  background-color: $color-grey-light;
  padding: 18px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  .album__title {
    font-size: 18px;
    line-height: 30px;
  }

  .album__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .album__item {
    flex-basis: 300px;
  }

  .album__list > :nth-of-type(2n + 1) {
    margin-right: 20px;
  }

  .album__list :last-child {
    margin-bottom: 20px;
  }
}

@media (min-width: 960px) {
  .album__item {
    flex-basis: 300px;
    margin-right: 20px;
  }

  .album__list > :nth-of-type(3n) {
    margin-right: 0;
  }

  .album__list :nth-last-child(n+3) {
    margin-bottom: 0;
  }
}
