.button {
  @include font-param(18px, bold, 44px);
  display: block;
  text-decoration: none;
  border: 3px solid $color-pink;
  color: $color-pink;
  border-radius: 50px;
  width: 280px;
  height: 50px;
  text-align: center;
  background-color: transparent;
  margin-bottom: 10px;
}

.button--cancel {
  color: $color-grey-lighter;
  border-color: $color-grey-lighter;
}

.button--white{
  color: $color-white;
  border-color: $color-white;
}
