.button {
  @include font-param(18px, bold, 44px);
  display: block;
  text-decoration: none;
  border: 3px solid $color-pink;
  color: $color-pink;
  border-radius: 50px;
  width: 280px;
  height: 50px;
  text-align: center;
  background-color: transparent;
}

.button--cancel {
  color: $color-grey-lighter;
  border-color: $color-grey-lighter;
}

.button--white {
  color: $color-white;
  border-color: $color-white;
}

.button--rect {
  border: 0;
  border-radius: 2px;
  padding: 9px 52px;
  height: auto;
  color: $color-white;
  background-color: $color-button-green;
}
