.contacts {
  background: $color-white;
  padding-top: 48px;
}

.contacts__title {
  @include font-param(24px, 100);
  text-align: center;
  margin: 0 0 44px;
}

.contacts__info-title {
  @include font-param(18px, bold);
  text-align: center;
  margin: 0 0 28px;
}

.contacts__info {
  @include font-param(24px, 100);
  text-align: center;
  color: $color-pink;
  display: inline-block;
  text-decoration: none;
}

.contacts__wrapper {
  padding-bottom: 35px;
}

.contacts__wrapper :last-child {
  margin-bottom: 0;
}

.contacts__map {
  height: 200px;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .contacts {
    padding-bottom: 40px;
  }

  .contacts__block {
    padding-bottom: 90px;
    margin-bottom: -70px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat center bottom;
    background-size: 100%;
  }

  .contacts__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__map {
    height: 400px;
  }

  .contacts__title {
    flex-basis: 100%;
    font-size: 40px;
  }

  .contacts__info-title {
    flex-basis: 50%;
  }
}

@media (min-width: $desktop) {
  .contacts__info-title {
    flex-basis: 30%;
  }

  .contacts__title {
    font-size: 50px;
  }
}
