.devices-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.devices-list > .devices-list__img:last-child {
  margin-right: 0;
}

.devices-list__img {
  margin-right: 30px;
}
