.devices-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.devices-list__img {
  flex-basis: 60px;
  margin-right: 30px;
}

.devices-list__img:last-of-type {
  margin-right: 0;
}
