.download {
  padding-top: 28px;
  padding-bottom: 36px;
}

.download :last-child {
  margin-bottom: 0;
}

.download__button {
  margin: 0 auto 32px;
}

.download__devices {
  margin-bottom: 20px;
}

.download__description {
  @include font-param(14px, 100, 24px);
  text-align: center;
  color: $color-white;
  margin: 0;
}

@media (min-width: $tablet) {
  .download__description {
    font-size: 18px;
    line-height: 24px;
  }

  .download {
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .download__button.button {
    margin-bottom: 62px;
    font-size: 21px;
    line-height: 50px;
  }

  .download__devices {
    margin-bottom: 50px;
  }
}
