.download {
  background-color: $color-darkblue;
  padding-top: 28px;
  padding-bottom: 36px;
}

.download :last-child {
  margin-bottom: 0;
}

.download__button {
  margin: 0 auto 32px;
}

.download__devices {
  margin-bottom: 20px;
}

.download__description {
  @include font-param(14px, lighter, 24px);
  text-align: center;
  color: $color-white;
  margin: 0;
}
