.feedback {
  padding: 40px 20px 0;
  background-color: $color-white;
}

.feedback__fieldset {
  border: none;
  padding: 40px 0;
  margin: 0;
  display: flex;
}

.feedback__fieldset :last-child {
  margin-bottom: 0;
}

.feedback__fieldset--grey {
  background-color: $color-grey-light;
  padding: 40px 20px;
  margin: 0 -20px;
}

.feedback__fieldset--white {
  background-color: $color-white;
  padding: 40px 20px;
  margin: 0 -20px;
}

.feedback__lable {
  display: block;
  margin-bottom: 25px;
}

.feedback__achievement {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.feedback__devise-type {
  display: flex;
  margin-bottom: 35px;
  align-items: center;
}

.feedback__achievement input {
  margin-right: 30px;
}

.feedback__title {
  @include font-param(14px, normal, 30px);
  text-align: center;
  margin: 0;
}

.feedback__fild-title {
  @include font-param(14px, normal, 30px);
  padding-left: 20px;
  color: $color-pink;
  text-transform: uppercase;
}

.feedback__surname input,
.feedback__name input,
.feedback__patronymic input {
  @include font-param(18px, normal, 30px);
  color: $color-black;
}

.feedback__fieldset-title {
  @include font-param(14px, normal, 18px);
  color: $color-pink;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

.feedback__checkbox {
  display: block;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid $color-form-border;
  background-color: $color-white;
  margin-right: 31px;
  position: relative;
}

[type='checkbox']:checked + .feedback__checkbox:before {
  content: '';
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  left: 0px;
  bottom: 0px;
  background-color: red;
}

.feedback__radio {
  display: block;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid $color-form-border;
  background-color: $color-white;
  margin-right: 31px;
  position: relative;
  border-radius: 50%;
}

[type='radio']:checked + .feedback__radio:before {
  content: '';
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  left: 9px;
  bottom: 9px;
  background-color: $color-pink;
  border-radius: 50%;
}

.feedback__check-title {
  @include font-param(18px, normal, 30px);
}

.feeback__sup {
  color: $color-pink;
}

.feedback__explanation {
  @include font-param(14px, normal, 30px);
  text-transform: uppercase;
  text-align: center;
}

.feedback__text-field {
  width: 100%;
  height: 50px;
  border: 2px solid $color-grey-light;
  padding-left: 20px;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.feedback__feeling {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  resize: none;
  padding: 23px;
}
