.feedback {
  background-color: $color-white;
}

.feedback__fieldset {
  margin: 0;
  border: none;
  padding: 0;
}

.feedback__fieldset--fio,
.feedback__fieldset--user-contacts,
.feedback__fieldset--user-feedback {
  background-color: $color-white;
}

.feedback__fieldset--fio {
  padding-bottom: 40px;
}

.feedback__fieldset--achievement,
.feedback__fieldset--user-contacts,
.feedback__fieldset--devise-type,
.feedback__fieldset--user-feedback {
  padding-top: 40px;
  padding-bottom: 40px;
}

.feedback__fieldset--user-contacts .feedback__fieldset-title {
  display: none;
}

.feedback__fieldset--achievement,
.feedback__fieldset--devise-type {
  background-color: $color-grey-light;
}

.feedback__achievement {
  display: flex;
  align-items: center;
}

.feedback__devise-type {
  display: flex;
  align-items: center;
}

.feedback__title {
  @include font-param(14px, normal, 30px);
  text-align: center;
  margin: 0 auto 40px;
}

.feedback__fild-title {
  @include font-param(14px, normal, 30px);
  color: $color-pink;
  text-transform: uppercase;
  padding-left: 20px;
}

.feedback__surname input,
.feedback__name input,
.feedback__patronymic input,
.feedback__phone input,
.feedback__email input, {
  @include font-param(18px, normal, 30px);
  color: $color-black;
  padding: 14px 20px;
}

.feedback__fieldset-title {
  @include font-param(14px, normal, 18px);
  color: $color-pink;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 40px;
}

.feedback__checkbox {
  display: block;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid $color-form-border;
  background-color: $color-white;
  position: relative;
  margin-right: 30px;
}

[type="checkbox"]:checked + .feedback__checkbox::before {
  content: "";
  position: absolute;
  background: url("../img/icon-yes.svg") no-repeat center center;
  display: block;
  width: 35px;
  height: 35px;
  left: 0;
  bottom: 0;
}

.feedback__radio {
  display: block;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  border: 2px solid $color-form-border;
  background-color: $color-white;
  position: relative;
  border-radius: 50%;
  margin-right: 30px;
}

[type="radio"]:checked + .feedback__radio::before {
  content: "";
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  left: 9px;
  bottom: 9px;
  background-color: $color-pink;
  border-radius: 50%;
}

.feedback__check-title {
  @include font-param(18px, normal, 30px);
}

.feeback__sup {
  color: $color-pink;
}

.feedback__explanation {
  @include font-param(14px, normal, 30px);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.feedback__text-field {
  width: 100%;

  border: 2px solid $color-grey-light;
  box-sizing: border-box;
}

.feedback__feeling {
  @include font-param(18px, normal, 30px);
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  resize: none;
  padding: 20px;
  color: black;
}

.feedback__fieldset--achievement .feedback__fieldset-title {
  margin-bottom: 40px;
}

.feedback__text-label {
  display: block;
  margin-bottom: 20px;
}

.feedback__text-labellast-child {
  margin-bottom: 0;
}

.feedback__fieldset .feedback__check-label:not(:last-child) {
  margin-bottom: 40px;
}

.feedback__fieldset .feedback__devise-type:not(:last-child) {
  margin-bottom: 36px;
}

.feedback__fieldset-title--smallmarg {
  margin-bottom: 20px;
}

.feedback__send-dutton {
  margin-bottom: 40px;
}

.feedback__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback__title--hide {
  display: none;
}

.feedback__br--tabl,
.feedback__br--desc {
  display: none;
}

@media (min-width: $tablet) {
  .feedback__br--tabl {
    display: block;
  }

  .feedback__br--mob {
    display: none;
  }

  .feedback__title--hide {
    display: inline;
  }

  .feedback__footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .feedback__send-dutton {
    margin-bottom: 0;
  }

  .feedback__fieldset-wrapper--wrapper {
    background: $color-white;
    display: inline-block;
    padding: 0 24px;
  }

  .feedback__fieldset {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    width: 660px;
  }

  .feedback__fieldset .content-wrapper {
    width: auto;
    padding: 0;
  }

  .feedback__title,
  .feedback__fieldset {
    margin-bottom: 65px;
  }

  .feedback__fieldset--user-contacts .feedback__fieldset-title {
    display: block;
  }

  .feedback__fieldset-container {
    display: flex;
    flex-direction: column;
  }

  .feedback__fieldset--fio {
    order: 1;
  }

  .feedback__fieldset--achievement {
    order: 4;
    background-color: $color-white;
  }

  .feedback__fieldset--user-contacts {
    order: 3;
  }

  .feedback__fieldset--devise-type {
    order: 2;
    background-color: $color-white;
    padding: 0 20px;
  }

  .feedback__fieldset--user-feedback {
    order: 5;
  }

  .feedback__fieldset-title br {
    display: none;
  }

  .feedback__title {
    font-size: 18px;
  }

  .feedback__surname,
  .feedback__name,
  .feedback__patronymic {
    display: flex;
    align-items: center;
  }

  .feedback__surname .feedback__fild-title,
  .feedback__name .feedback__fild-title,
  .feedback__patronymic .feedback__fild-title {
    margin-right: 20px;
    padding: 0;
  }

  .feedback__fieldset > .feeldset_wrapper {
    border: 1px solid $color-form-border;
  }

  .feeldset_wrapper {
    position: relative;
  }

  .feedback__fieldset-title {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
  }

  .feedback__fieldset--devise-type .feeldset_wrapper {
    padding: 50px 58px;
  }

  .feedback__fieldset--user-contacts .feeldset_wrapper {
    padding: 45px 58px;
  }

  .feedback__fieldset--achievement .feeldset_wrapper {
    padding: 50px 58px;
  }

  .feedback__fieldset--user-feedback .feeldset_wrapper {
    padding: 45px 58px;
  }

  .feedback__fieldset--fio .feeldset_wrapper {
    border: none;
  }

  .feedback__email,
  .feedback__phone {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .feedback__email .feedback__text-field,
  .feedback__phone .feedback__text-field {
    margin-bottom: 15px;
  }

  .feedback__phone::after,
  .feedback__email::after {
    content: " ";
    position: absolute;
    display: block;
    width: 62px;
    height: 62px;
    top: 0;
    right: 0;
  }

  .feedback__phone::after {
    background: $color-grey-light url("../img/icon-phone.svg") no-repeat center center;
  }

  .feedback__email::after {
    background: $color-grey-light url("../img/icon-mail.svg") no-repeat center center;
  }
}

@media (min-width: $desktop) {
  .feedback__fieldset-container {
    width: 960px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .feedback__br--tabl {
    display: none;
  }

  .feedback__br--desc {
    display: block;
  }

  .feedback__fieldset--fio {
    flex-basis: 50%;
  }

  .feedback__fieldset--achievement {
    flex-basis: 100%;
  }

  .feedback__fieldset--user-contacts {
    flex-basis: 100%;
  }

  .feedback__fieldset--devise-type {
    flex-basis: 50%;
  }

  .feedback__fieldset--user-feedback {
    flex-basis: 100%;
  }

  .feedback__fieldset .feedback__check-label {
    margin-bottom: 40px;
  }

  .feedback__fieldset--achievement .feeldset_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .feedback__fieldset--user-contacts .feeldset_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .feedback__phone,
  .feedback__email {
    flex-basis: 375px;
    margin-bottom: 0;
  }

  .feedback__checkbox {
    margin-right: 20px;
  }

  .feedback__achievement--shark {
    order: 1;
    flex-basis: 260px;
  }

  .feedback__achievement--hotel {
    order: 6;
    flex-basis: 210px;
  }

  .feedback__achievement--tower {
    order: 3;
    flex-basis: 210px;
  }

  .feedback__achievement--gift {
    order: 5;
    flex-basis: 245px;
  }

  .feedback__achievement--chuck {
    order: 2;
    flex-basis: 245px;
  }

  .feedback__achievement--beech {
    order: 4;
    flex-basis: 260px;
  }
}
