.img-sender__img-input {
  display: block;
  width: 280px;
  height: 375px;
  margin: 0 auto;
  background-image: url("https://via.placeholder.com/280x375");
}

.img-sender__img-input input {
  display: none;
}

.img-sender__tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.img-sender__separator {
  display: block;
  height: 1px;
  width: 150%;
}

.img-sender__button-wrapper {
  padding-top: 38px;
}

.img-sender__button-wrapper :last-child {
  margin-bottom: 0;
}

.img-sender__button {
  margin-bottom: 12px;
}
