.img-sender__img-input {
  display: block;
  width: 280px;
  height: 375px;
  margin: 0 auto;
  background-image: url("https://via.placeholder.com/280x375");
}

.img-sender__img-input input {
  display: none;
}

.img-sender__tools {
  position: relative;
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.img-sender__separator {
  display: block;
  height: 1px;
}

.img-sender__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
}

.img-sender__button-wrapper :last-child {
  margin-bottom: 0;
}

.img-sender__button {
  margin-bottom: 12px;
}

@media (min-width: $tablet) {
  .img-sender__separator {
    display: none;
  }

  .img-sender {
    display: flex;
    justify-content: space-between;
  }

  .img-sender__tools {
    padding: 0;
    margin: 0;
  }

  .img-sender__img-input {
    width: 300px;
    height: 400px;
    margin: 0;
    background-image: url("https://via.placeholder.com/300x400");
  }
}

@media (min-width: $desktop) {
  .img-sender__wrapper {
    flex-basis: 50%;
  }

  .img-sender__tools {
    width: 410px;
  }

  .img-sender__img-input {
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: url("https://via.placeholder.com/300x400") no-repeat;
  }

  .img-sender__button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .img-sender__button {
    flex-basis: 185px;
    margin: 0;
  }
}
