.page-main {
  background: $color-darkblue url("/img/bg-back-mobile@1x.jpg") no-repeat center top;
  padding: 86px 0 0;
  margin-top: -66px;
}

.page-main__index-bg {
  background: url("/img/iphone-hand-mobile@1x.png") no-repeat 45% 175px,
    url("/img/bg-back-mobile@1x.jpg") no-repeat center top,
    $color-darkblue;
}

.visually-hidden {
  display: none;
}

.page-main__h1 {
  @include font-param(24px, lighter, normal );
  text-align: center;
  color: $color-white;
  margin: 0;
}

.page-main__plaisholder {
  width: 100%;
  height: 0;
}

.page-main__plaisholder--index {
  height: 310px;
}

.page-main__plaisholder--photo {
  height: 85px;
}

.page-main__plaisholder--form {
  height: 53px;
}

.main-nav__wrapper {
  position: relative;
}

.page-main__album {
  padding-top: 55px;
}

.page-main__feedback {
  padding-top: 55px;
}
