.page-footer {
  background-color: $color-white;
  padding: 40px 0;
}

.page-footer__logo {
  display: block;
  text-align: center;
}

.page-footer__developer-link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developer {
  margin-right: 15px;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
}

.page-footer__wrapper > :not(:last-child) {
  margin-bottom: 40px;
}
