.page-footer {
  background-color: $color-white;
  padding: 40px 0;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  display: block;
  text-align: center;
}

.page-footer__developer-link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__developer {
  margin-right: 15px;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
}

.page-footer__logo,
.page-footer__social {
  margin-bottom: 40px;
}

@media (min-width: $tablet) {
  .page-footer {
    padding: 36px 0;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo,
  .page-footer__social {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop) {
  .page-footer {
    padding: 70px 0;
  }
}
