.prises__wrapper {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: scroll;
  margin-bottom: 35px;
}

.prises {
  background: url("../img/bg-triangle-white.svg") no-repeat top right,
    $color-grey-light;
  padding: 90px 0 45px;
  background-size: 100%;
}

.prises__list {
  border-collapse: collapse;
}

.prises__title {
  @include font-param(18px, bold, 30px);
  text-align: center;
  margin: 0;
}

.prises__prise {
  @include font-param(24px, 100, 30px);
  text-align: center;
  margin: 0;
}

.prises__head-item {
  width: 280px;
  box-sizing: border-box;
  border: 1px solid $color-form-border;
  padding: 25px 0 22px;
  background-color: #283645;
}

.prises__feature-list {
  display: flex;
}

.prises__header {
  display: flex;
  color: $color-white;
  box-sizing: border-box;
}

.prises__header :first-child {
  border-left: none;
}

.prises__feature-item {
  width: 280px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-form-border;
  background-color: $color-white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 24px 20px 22px;
}

.prises__feature-list :first-child {
  border-left: none;
}

.prises__feature--yes {
  display: block;
  width: 23px;
  height: 20px;
  background: url("../img/icon-yes.svg") no-repeat center center;
}

.prises__head-item--first,
.prises__feature-item--first {
  display: none;
}

@media (min-width: $tablet) {
  .prises__list {
    margin: 0 auto;
  }

  .prises__head-item.prises__head-item--first {
    background: none;
    border: none;
  }

  .prises__wrapper {
    overflow: auto;
  }

  .prises__toggles.slider__toggles {
    display: none;
  }

  .prises__head-item--first {
    display: table-cell;
  }

  .prises__feature-item--first {
    display: table-cell;
  }

  .prises__feature {
    text-transform: none;
  }

  .prises__head-item,
  .prises__feature-item {
    width: 155px;
  }

  .prises__feature-item:not(:first-child) .prises__feature:first-child {
    display: none;
  }

  .prises__feature-item {
    justify-content: center;
    padding: 9px 20px;
  }

  .prises__title,
  .prises__prise {
    font-size: 16px;
  }

  .prises__head-item {
    padding: 8px 0;
  }
}

@media (min-width: $desktop) {
  .prises__head-item,
  .prises__feature-item {
    width: 235px;
  }
}
