.send-photo {
  background-color: $color-white;
}

.img-sender__title {
  padding: 50px 0;
  text-align: center;
}

.send-photo__form {
  background-color: $color-grey-light;
  padding: 20px 20px 40px;
}
