.send-photo {
  background-color: $color-white;
  padding: 40px 0 0;
}

.send-photo__title {
  text-align: center;
  margin-bottom: 50px;
}

.send-photo__form {
  margin: 0;
}

.send-photo__form-wrapper {
  padding: 20px 0 40px;
  background-color: $color-grey-light;
}

@media (min-width: $tablet) {
  .send-photo__br--tabl {
    display: none;
  }
}
