.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-list__item {
  text-transform: uppercase;
  background-color: $color-darkblue;
  text-align: center;
  border-top: 1px solid black;
  &:last-of-type {
    border-bottom: 1px solid black;
  }
  a {
    display: block;
    color: $color-white;
    font-family: opensans, opensans2;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 0;
    cursor: pointer;
  }
}
