.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-list > :not(:last-child) {
  margin-right: 12px;
}

.social-list__item {
  width: 45px;
  height: 45px;
}

.social-list__link {
  display: flex;
  width: 45px;
  height: 45px;
  border: 2px solid $color-grey-light;
  border-radius: 50%;
  justify-content: space-around;
}
