@import 'colors';
@import 'mixins';

.download__app {
  @include font-param(18px, bold, normal);
  display: block;
  text-align: center;
}

.download__description {
  @include font-param(14px, lighter, 24px);
  text-align: center;
}
