$color-darkblue:     #283645;
$color-nav:           #1d2631;
$color-white:        #ffffff;
$color-pink:         #d22856;
$color-black:        #000000;
$color-grey:         #b5b9be;
$color-grey-light:   #f2f2f2;
$color-grey-lighter: #dddfe0;
$color-form-border:  #e5e5e5;
$color-button-green: #2aab6d;

$tablet: 660px;
$desktop: 960px;
